:host > .container-suplier {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
}
:host > .mat-tab-group {
    flex-direction: row;
}
:host > .mat-tab-header {
    border-bottom: none;
}
:host > .mat-tab-header-pagination {
    display: none !important;
}
:host > .mat-tab-labels {
    flex-direction: column;
}
:host > .mat-ink-bar {
    height: 100%;
    left: 98% !important;
}
:host > .mat-tab-body-wrapper {
    flex: 1 1 auto;
}
:target(.mat-tab-label-content) {
    color: red !important;
}
.container-suplier {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    text-align: left;
    padding-left: 10px !important;
    padding-top: 10px !important;

}
/* .mat-tab-label {
    color: red !important;
} */
#content {
    box-sizing: content-box;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}
#content {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}
#content::before, #main-content::before, #content::after, #main-content::after {
    content: "";
    display: table;
}
#content::after, #main-content::after {
    clear: both;
}
#main-content {
    width: 100% !important;
}

@media (min-width: 1200px) {
    .container-suplier, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100% !important;
    }
}

.mat-tab-body-wrapper ::after{
    background-color: #EAFCC2 !important;
}

.mat_tab_content {
    background-color:#f2f4eb;
    box-shadow: hotpink;
}
.ag-theme-alpine {
    @include ag-theme-alpine((
        // use theme parameters where possible
        alpine-active-color: deeppink
    ));
}

:host ::ng-deep .mat-tab-label-content {
font-style: italic;
font-family: 'Times New Roman', Times, serif;
color: rgb(23, 23, 49);
}
 
:host ::ng-deep .mat-tab-label {
    height: 40px !important;
    background-color: rgb(144, 192, 144) !important;
    margin-bottom: 4px !important;
    padding-bottom: 4px !important;

}
:host(.ag-header-group-cell-label) {
    background-color: #00e7b1;
  }

 :host(.ag-pivot-off .ag-header-group-cell){
    font-size: 50px;
    color: red;
}

.ag-header-cell-label .ag-header-cell-text {
    color: yellow !important;
}

.ag-header-cell-text {
    color: blue !important;
}
span {
    color: aqua;
}
#supplier_Form {
    position: relative;
}
#sqlQueryBtn {
    position: absolute;
    bottom: 30px;
    left: 33px;
}
.mat-form-field {
    padding: 5px !important;
}
.c-mat-form-filed-wrapper {
    margin: 5px;
    float: left;
    padding: 15px;
    background-color: #cfe8f7;
    border: 1px solid transparent;
    border-radius: 5px;
    color:  rgb(96, 42, 150);
    box-shadow: rgb(33, 33, 70);
}
.c-mat-form-filed-wrapper .c_mat_label {
    color:#2C3134;
    font-style: italic;
}
#topBtnsWrapper button {
    /* float: left; */
    margin: 5px;
}
#spinner {
    display: block !important;
    width: 100px !important;
    height: 100px !important;
    margin-left: 45% !important;
    padding-top: 100px !important;
    position: fixed;
}
#spinnerWrapper {
    height: 500px;
    background-color: #EAFCC2;
}
.hyperLinkBtn {
    font-size: 15px;
    background-color:#a3d2ed; 
    width: 100% !important;
    background-color:#15AABF;
    color: white;
    border: 1px transparent;
    border-radius: 3px;
}
.hyperLinkBtn:hover {
    background-color: rgb(12, 129, 144);
}

.app-modal-window .modal-dialog {
    width: 600px !important;
  }
















  
  * {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }