<div class="container-suplier" >
  <div id="content">
    <div id="main-content">
      <mat-tab-group> 
        <mat-tab label="მთავარი" >
          <div class="mat_tab_content">  
            <form  [formGroup]="pageOneForm"> 
                <!-- Value: {{pageOneForm.value | json}} -->

              <div *ngFor="let item of tab1Names; let i=input" class="c-mat-form-filed-wrapper" > 
                <mat-label class="c_mat_label">
                  {{item}}
                </mat-label>
                <mat-form-field >
                  <input matInput  formControlName={{item}}>
                </mat-form-field>
            </div>
              <!-- <mat-label>Color</mat-label>
              <mat-form-field>
                <input matInput formControlName="Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="Surname">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="LastName">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="PhoneNumber">
              </mat-form-field> -->
           </form>
          </div>
        </mat-tab>

        <mat-tab label="შესყიდვის ხელშეკრულება" class="custom-mat-tab-label" >      
         <form id="supplier_Form">          
          <ag-grid-angular            
            style="width: 100%; height: 60vh; font-size:20px; font-family: Arial, Helvetica, sans-serif;" 
            class="ag-theme-balham"
            [rowData]="rowDataTab2 | async"
            editType = fullRow
            pagination= true
            [singleClickEdit]="true"
            resizable = true  
            headerHeight = 15
            groupHeaderHeight = 40
            #grid
            rowSelection="multiple">
          </ag-grid-angular>
          <!-- <button type="submit" class="btn btn-success" style="margin: 15px 0px 15px 15px; float: right;"> შენახვა </button>  -->
        </form>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
